.image {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  cursor: move !important;
}

.panoramaWrap {
  display: flex;
  flex-direction: column;
}

.buttonGroup {
  display: flex;
  margin-top: 20px;
}

.imagesWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.plan {
  img {

  }
}

.infospotLabel {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
  white-space: nowrap;
}


.planContainer {
  position: relative;
  display: inline-block; /* or use block if you want it to take full width */
}

.planImage {
  width: 125px;
  opacity: 0.80;
  height: auto; /* Adjust as needed */
  //position: absolute;
}

.imgSelectWrap {
  top: 10px;
  left: 10px;
  position: absolute;
  //opacity: 0.50;
  &:before{
    width: 105px;
    height: 250px;
    top: -10px;
    left: -10px;
    content: '';
    position: absolute;
    display: block;
    padding: 20px;
    opacity: 0.50;
    background-color: #000;
  }
}

.select {
  margin-top: 10px;
  //opacity: 0.80
}

.dot {
  position: absolute;
  transform: translate(-50%, -50%); /* Center the dot */
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
  //background-color: red; /* Adjust color as needed */
  border-radius: 50%; /* Make it a circle */
  cursor: pointer; /* Show pointer on hover */
}

.info {
  font-size: medium;
  color: white;
  padding-top: 10px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 200px;
  height: 30px;
  background-color: #000;
  opacity: 0.50;

}