.image {

  width: 100%;
  margin: 0 auto;
  cursor: none !important;
  //width: 100% !important;
  //max-width: 1200px !important;
  height: 500px; // Default height, adjust as needed
  max-height: 70vh; // Ensures the height doesn't exceed 70% of the viewport height

  canvas {
    //width: 100% !important;
  }
}

.panoramaWrap {
  display: flex;
  flex-direction: column;
}

.buttonGroup {
  display: flex;
  margin-top: 20px;
}

.imagesWrap {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.plan {
  img {

  }
}

.infospotLabel {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  pointer-events: none;
  white-space: nowrap;
}


.planContainer {
  position: relative;
  display: inline-block; /* or use block if you want it to take full width */
  @media (max-width: 613px) {
    display: none;
  }
}

.planImage {
  max-width: 125px;
  opacity: 0.80;
  height: auto; /* Adjust as needed */
  //position: absolute;
}

.imgSelectWrap {
  top: 10px;
  left: 10px;
  position: absolute;

  &:before {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: -10px;
    left: -10px;
    content: '';
    position: absolute;
    display: block;
    padding: 20px;
    opacity: 0.50;
    background-color: #000;
  }
}

.select {
  margin-top: 10px;
  //opacity: 0.80
}

.dot {
  position: absolute;
  transform: translate(-50%, -50%); /* Center the dot */
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
  //background-color: red; /* Adjust color as needed */
  border-radius: 50%; /* Make it a circle */
  cursor: pointer; /* Show pointer on hover */
}

.info {
  font-size: medium;
  color: white;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  width: 200px;
  background-color: #000;
  opacity: 0.50;
  @media (max-width: 613px) {
    display: none;
  }
}

.infoPlan {
  top: 10px;
  right: 50%;
  @media (max-width: 1090px) {
    right: 5%;
  }
}

.infoRoom {
  top: 10px;
  right: 10%;
  @media (max-width: 1090px) {
    top: 70px;
    right: 5%;
  }

}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh; /* Adjust based on your layout */
}

.spin {
  color: #fff;
  opacity: .8;
  position: absolute;
  z-index: 10;
  margin: 0 auto;
  text-align: center;
  right: 0;
  left: 0;
  top: calc(50% - 75px);
}