@import 'normalize.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*#react-app{*/
/*  width: 200px;*/
/*}*/

.ant-modal-content {
  position: absolute !important;
  width: 100%;

}
.modal-content {
}
/* Add this CSS to your stylesheet */

#panolens .custom-cursor {
  position: absolute;
  width: 40px; /* Adjust the diameter of the circle */
  height: 40px;
  border: 2px solid white; /* Set the border color and width */
  background-color: rgba(255, 255, 255, 0.2); /* Light white to simulate shadow */
  border-radius: 50%; /* Make it a circle */
  pointer-events: none; /* Ensure it doesn't interfere with interactions */
  transform: translate(-50%, -50%);
  visibility: hidden; /* Initially hidden */
}

/*#panolens .custom-cursor {*/
/*  position: absolute;*/
/*  width: 60px; !* Diameter of the circle *!*/
/*  height: 60px;*/
/*  border: 2px solid white; !* Border color and thickness *!*/
/*  border-radius: 50%;*/
/*  background-color: rgba(255, 255, 255, 0.2); !* Light white to simulate shadow *!*/
/*  transform: translate(-50%, -50%) rotateX(60deg); !* Tilt the circle to lie flat *!*/
/*  pointer-events: none; !* Ignore pointer events *!*/
/*  visibility: hidden; !* Initially hidden *!*/
/*}*/
